html {
  font-size: 62.5%;
  font-family: sans-serif; }

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto; }

/* Wrapper clearfix */
.wrapper:before,
.wrapper:after {
  content: "";
  display: table; }

.wrapper:after {
  clear: both; }

.column {
  float: left; }

.column-style {
  padding: 20px 10px 20px 10px;
  margin: 10px 10px 10px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black; }

.base-padding {
  padding: 20px, 10px, 20px, 10px; }

.h-padding {
  padding-left: 10px;
  padding-right: 10px; }

.v-padding {
  padding-top: 20px;
  padding-bottom: 20px; }

.top-padding {
  padding-top: 20px; }

.right-padding {
  padding-right: 10px; }

.bottom-padding {
  padding-bottom: 20px; }

.left-padding {
  padding-left: 10px; }

.base-margin {
  margin: 10px, 10px, 10px, 10px; }

.h-margin {
  margin-left: 10px;
  margin-right: 10px; }

.v-margin {
  margin-top: 20px;
  margin-bottom: 20px; }

.top-margin {
  margin-top: 20px; }

.right-margin {
  margin-right: 10px; }

.bottom-margin {
  margin-bottom: 20px; }

.left-margin {
  margin-left: 10px; }

.base-border {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black; }

.h-border {
  border-left: 1px solid black;
  border-right: 1px solid black; }

.v-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.top-border {
  border-top: 1px solid black; }

.right-border {
  border-right: 1px solid black; }

.bottom-border {
  border-bottom: 1px solid black; }

.left-border {
  border-left: 1px solid black; }

.left {
  float: left; }

.right {
  float: right; }

.wide-1 {
  width: 8.33334%; }

.wide-2 {
  width: 16.66668%; }

.wide-3 {
  width: 25.00001%; }

.wide-4 {
  width: 33.33334%; }

.wide-5 {
  width: 41.66668%; }

.wide-6 {
  width: 50.00001%; }

.wide-7 {
  width: 58.33334%; }

.wide-8 {
  width: 66.66668%; }

.wide-9 {
  width: 75.00001%; }

.wide-10 {
  width: 83.33334%; }

.wide-11 {
  width: 91.66668%; }

.wide-12 {
  width: 100.00001%; }

@media only screen and (min-width: 481px) and (max-width: 780px) {
  .tablet-1 {
    width: 8.33334%; }

  .tablet-2 {
    width: 16.66668%; }

  .tablet-3 {
    width: 25.00001%; }

  .tablet-4 {
    width: 33.33334%; }

  .tablet-5 {
    width: 41.66668%; }

  .tablet-6 {
    width: 50.00001%; }

  .tablet-7 {
    width: 58.33334%; }

  .tablet-8 {
    width: 66.66668%; }

  .tablet-9 {
    width: 75.00001%; }

  .tablet-10 {
    width: 83.33334%; }

  .tablet-11 {
    width: 91.66668%; }

  .tablet-12 {
    width: 100.00001%; }

  .tablet-left {
    float: left; }

  .tablet-right {
    float: right; }

  .tablet-clear {
    clear: both; } }
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 320px; }

  .mobile-1 {
    width: 8.33334%; }

  .mobile-2 {
    width: 16.66668%; }

  .mobile-3 {
    width: 25.00001%; }

  .mobile-4 {
    width: 33.33334%; }

  .mobile-5 {
    width: 41.66668%; }

  .mobile-6 {
    width: 50.00001%; }

  .mobile-7 {
    width: 58.33334%; }

  .mobile-8 {
    width: 66.66668%; }

  .mobile-9 {
    width: 75.00001%; }

  .mobile-10 {
    width: 83.33334%; }

  .mobile-11 {
    width: 91.66668%; }

  .mobile-12 {
    width: 100.00001%; }

  .mobile-left {
    float: left; }

  .mobile-right {
    float: right; }

  .mobile-clear {
    clear: both; } }
p {
  font-size: 18px;
  font-size: 1.8rem; }

h1 {
  font-size: 60px;
  font-size: 6rem; }

h2 {
  font-size: 51px;
  font-size: 5.1rem; }

h3 {
  font-size: 42px;
  font-size: 4.2rem; }

h4 {
  font-size: 36px;
  font-size: 3.6rem; }

h5 {
  font-size: 30px;
  font-size: 3rem; }

h6 {
  font-size: 24px;
  font-size: 2.4rem; }

@media only screen and (max-width: 480px) {
  p {
    font-size: 16px;
    font-size: 1.6rem; }

  h1 {
    font-size: 44px;
    font-size: 4.4rem; }

  h2 {
    font-size: 38px;
    font-size: 3.8rem; }

  h3 {
    font-size: 32px;
    font-size: 3.2rem; }

  h4 {
    font-size: 28px;
    font-size: 2.8rem; }

  h5 {
    font-size: 24px;
    font-size: 2.4rem; }

  h6 {
    font-size: 20px;
    font-size: 2rem; } }
/* ----- Button ----- */
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 18px;
  font-size: 1.8rem;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 7px 40px 8px; }
