body {
  margin: 0;
}

.column-style {
  border: 2px solid lightblue;
  background: aliceblue;
  height: 100px;
}

.column {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and #{nth($media-queries, 2)} {
  
}

@media only screen and #{nth($media-queries, 1)} {
  
}

@media only screen and #{nth($media-queries, 3)} {
  
}

@media only screen and #{nth($media-queries, 4)} {
  
}