// ===============================================================
// ==================== mixins and functions =====================
// ===============================================================

// ===================================
// ============= mixins ==============
// ===================================

@mixin rem($propr, $px) {
	#{$propr}: $px;
	#{$propr}: $px / 16px * 1rem;
}

// ===================================
// ============ functions ============
// ===================================

@function reverse($list, $recursive: false) {
  $result: ();

  @for $i from length($list) * -1 through -1 {
    $item: nth($list, abs($i));

    @if length($item) > 1 and $recursive {
      $result: append($result, reverse($item, $recursive));      
    }

    @else {
      $result: append($result, $item);
    }
  }

  @return $result;
}