// ===============================================================
// ========================= class names =========================
// ===============================================================

// only one value


// can put several values
$nav: '.nav';
$active: '.active';
$horizontal: '.horizontal';
$equal-width: '.equal-width';


// ===============================================================
// =========================== options ===========================
// ===============================================================



// ===============================================================
// ========================== functions ==========================
// ===============================================================



// ===============================================================
// ========================== variables ==========================
// ===============================================================
$nav-font-size: 20px;
$nav-line-height: 1.2;


// ===============================================================
// ====================== navigation system ======================
// ===============================================================

#{$nav} {
	font-size: $nav-font-size;
	line-height: $nav-line-height;
	
	ul {
		list-style: none;
		padding: 0;
		
		li {
			
		}
	}
	
	&#{$horizontal} {
		ul {
			li{
				display: inline-block;
			}
		}
	}
	
	&#{$equal-width} {
		ul {
			display: table;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			
			li {
				display: table-cell;
			}
		}
	}
}