// ===============================================================
// ========================= class names =========================
// ===============================================================

// only one value


// can put several values
$nav: '.nav';
$active: '.active';
$nav-horizontal: '.nav-horizontal';
$nav-equal-width: '.nav-equal-width';


// ===============================================================
// =========================== options ===========================
// ===============================================================



// ===============================================================
// ========================== functions ==========================
// ===============================================================



// ===============================================================
// ========================== variables ==========================
// ===============================================================
$nav-font-size: 20px;
$nav-line-height: 1.2;


// ===============================================================
// ====================== navigation system ======================
// ===============================================================

#{$nav} {
	font-size: $nav-font-size;
	line-height: $nav-line-height;
	
	ul {
		list-style: none;
		padding: 0;
		
		li {
			
		}
	}
	
	&#{$nav-horizontal} {
		ul {
			li{
				display: inline-block;
			}
		}
	}
	
	&#{$nav-equal-width} {
		ul {
			@if $ie8-9-support {
				table-layout: fixed;
				width: 100%;
				display: table;
			}
			
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			
			li {
				@if $ie8-9-support {
					display: table-cell;
				}
				width: 100%;
			}
		}
	}
}