// ===== class names =====

// only one value
$width: '.width';
$hidden: '.hidden';

// can put several values
$container: '.container';
$row: '.row';
$column: '.column';

// ===== options =====

$ie7-support: false;
$ie8-support: true;
$noflexwrap-support: true;
$box-sizing-border-box-on-every-element: true;

// ===== variables =====


$main-layout:     'md';
$columns-number:  12;
$column-gutter: 40px;
$container-max-width: 960px;
$container-align: center; // center, left or right

$other-layouts-name:                 'xl',                     'lg',                    'sm',                    'xs';
$other-layouts-media-queries:        '(min-width: 1200px)',    '(min-width: 1024px)',   '(max-width: 767px)',    '(max-width: 480px)';
$other-layouts-columns-number:       12,                       12,                      12,                      12;
$other-layouts-column-gutter:        40px,                     40px,                    40px,                    40px;
$other-layouts-container-max-width:  1600px,                   1100px,                  960px,                   767px;

// ===== grid system =====

@if $box-sizing-border-box-on-every-element == true {
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

$other-layouts: zip($other-layouts-name, $other-layouts-media-queries, $other-layouts-columns-number, $other-layouts-column-gutter, $other-layouts-container-max-width);

#{$container} {
  max-width: $container-max-width;
  @if $container-align == center {
  margin: 0 auto;
  } @else if $container-align == right {
  margin: 0 0 0 auto;
  }
}

#{$row} {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#{$column} {
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;
  @if $noflexwrap-support == true {
  min-height: 1px;
  float: left;
  }
  @if $box-sizing-border-box-on-every-element == false {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@for $i from 1 through $columns-number {
  #{$width}#{$i}of#{$columns-number}--#{$main-layout} {
    width: 100% / $columns-number * $i;
  }
}

@each $layout in $other-layouts {
  
  @media only screen and #{nth($layout, 2)} {
    
    #{$container} {
      max-width: nth($layout, 5);
    }
    
    @for $i from 1 through nth($layout, 3) {
      #{$width}#{$i}of#{nth($layout, 3)}--#{nth($layout, 1)} {
        width: 100% / nth($layout, 3) * $i;
      }
    }
    
    #{$hidden}--#{nth($layout, 1)} {
      display: none;
    }
  }
}

/*
body:before {
  content: '"' + $other-layouts + '"';
}
*/