// ===============================================================
// ========================= class names =========================
// ===============================================================

// only one value


// can put several values
$p: 'p';
$h1: 'h1, .h1';
$h2: 'h2, .h2';
$h3: 'h3, .h3';
$h4: 'h4, .h4';
$h5: 'h5, .h5';
$h6: 'h6, .h6';
$a: 'a';

$article: '.article';
$article-p: 'p';
$article-h1: 'h1';
$article-h2: 'h2';
$article-h3: 'h3';
$article-h4: 'h4';
$article-h5: 'h5';
$article-h6: 'h6';
$article-a: 'a';

// ===============================================================
// =========================== options ===========================
// ===============================================================



// ===============================================================
// ========================== functions ==========================
// ===============================================================

@function luminus($color, $amount) {
	@if lightness($color) > 50% {
		@return darken($color, $amount);
	} @else {
		@return lighten($color, $amount);
	}
}

// ===============================================================
// ========================== variables ==========================
// ===============================================================

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Georgia", "Lucida Bright", Times, TimesNewRoman, "Times New Roman", serif;
$mono-font: "Andale Mono", AndaleMono, Consolas, "Courier New", Courier, monospace;

// main font size
// for the different layout (ascending order)
//							main 							s 						m 						l
$body-copy-size: 			18px;
$h1-size: 					($body-copy-size / 3 * 10);
$h2-size: 					($body-copy-size / 3 * 8.5);
$h3-size: 					($body-copy-size / 3 * 7);
$h4-size: 					($body-copy-size / 3 * 6);
$h5-size: 					($body-copy-size / 3 * 5);
$h6-size: 					($body-copy-size / 3 * 4);


// main font style
$body-copy-weight: 300;
$p-line-height: 1.6;

%headings-style {
	font-weight: 400;
	color: $darkest-color;
	margin: 0;
	line-height: 1.1;
}
%h1-style {
}
%h2-style {
}
%h3-style {
}
%h4-style {
}
%h5-style {
}
%h6-style {
}

%link-style {
	text-decoration: none;
	color: $primary-color;
	&:hover {
		color: luminus($primary-color, 15%);
	}
}

// article font style
$first-element-margin-top: 0;

%article-headings-style {
	font-weight: 400;
	margin-top: .7em;
	margin-bottom: .5em;
}
%article-h1-style {
}
%article-h2-style {
}
%article-h3-style {
}
%article-h4-style {
}
%article-h5-style {
}
%article-h6-style {
}

%article-link-style {
	text-decoration: underline;
}



// ===============================================================
// ========================= type system =========================
// ===============================================================

body {
	@include rem(font-size, $body-copy-size);
	font-family: $primary-font;
	font-weight: $body-copy-weight;
}

#{$p} {
	line-height: $p-line-height;
}

#{$h1} {
	@include rem(font-size, $h1-size);
	@extend %headings-style;
	@extend %h1-style;
}

#{$h2} {
	@include rem(font-size, $h2-size);
	@extend %headings-style;
	@extend %h2-style;
}

#{$h3} {
	@include rem(font-size, $h3-size);
	@extend %headings-style;
	@extend %h3-style;
}

#{$h4} {
	@include rem(font-size, $h4-size);
	@extend %headings-style;
	@extend %h4-style;
}

#{$h5} {
	@include rem(font-size, $h5-size);
	@extend %headings-style;
	@extend %h5-style;
}

#{$h6} {
	@include rem(font-size, $h6-size);
	@extend %headings-style;
	@extend %h6-style;
}

#{$a} {
	@extend %link-style;
}

#{$article} {
	:first-child {
		margin-top: $first-element-margin-top;
	}
  
    #{$article-p} {
      
    }
	
	#{$article-h1} {
		@include rem(font-size, $h1-size);
		@extend %article-headings-style;
		@extend %article-h1-style;
	}

	#{$article-h2} {
		@include rem(font-size, $h2-size);
		@extend %article-headings-style;
		@extend %article-h2-style;
	}

	#{$article-h3} {
		@include rem(font-size, $h3-size);
		@extend %article-headings-style;
		@extend %article-h3-style;
	}

	#{$article-h4} {
		@include rem(font-size, $h4-size);
		@extend %article-headings-style;
		@extend %article-h4-style;
	}

	#{$article-h5} {
		@include rem(font-size, $h5-size);
		@extend %article-headings-style;
		@extend %article-h5-style;
	}

	#{$article-h6} {
		@include rem(font-size, $h6-size);
		@extend %article-headings-style;
		@extend %article-h6-style;
	}
	
	#{$article-a} {
		@extend %article-link-style;
	}
}

//test in a test

$main-test-size: 12px, 15px, 18px, 20px;
$test-size: (auto 10/3) 1.5, auto 2, auto 2, auto 2;

@for $i from 0 through length($larger-layouts-name) {
	@if $i == 0 {
		.test {
			@if nth(nth(nth($test-size, ($i+1)), 1), 1) == auto {
				font-size: nth($main-test-size, ($i+1)) * nth(nth($test-size, ($i+1)), 2);
				@if lenght(nth($test-size, ($i+1))) == 3 {
					line-height: nth(nth($test-size, ($i+1)), 3);
				}
			} @else {
				font-size: nth(nth($test-size, ($i+1)), 1);
				@if nth(nth($test-size, ($i+1)), 2) {
					line-height: nth(nth($test-size, ($i+1)), 2);
				}
			}
		}
	} @else {
		@include media(nth($larger-layouts-name, $i)) {
			.test {
				@if nth(nth($test-size, ($i+1)), 1) == auto {
					font-size: nth($main-test-size, ($i+1)) * nth(nth($test-size, ($i+1)), 2);
				} @else {
					font-size: nth(nth($test-size, ($i+1)), 1);
				}
			}
		}
	}
}
