// ===============================================================
// ========================= class names =========================
// ===============================================================

// only one value


// can put several values
$p: 'p';
$h1: 'h1, .h1';
$h2: 'h2, .h2';
$h3: 'h3, .h3';
$h4: 'h4, .h4';
$h5: 'h5, .h5';
$h6: 'h6, .h6';
$a: 'a';

$article: '.article';
$article-p: 'p';
$article-h1: 'h1';
$article-h2: 'h2';
$article-h3: 'h3';
$article-h4: 'h4';
$article-h5: 'h5';
$article-h6: 'h6';
$article-a: 'a';

// ===============================================================
// =========================== options ===========================
// ===============================================================



// ===============================================================
// ========================== functions ==========================
// ===============================================================

@mixin responsive-font-size($element-size) {
	@for $i from 0 through length($larger-layouts-name) {
		@if list-separator($element-size) == "space" { // auto
			@if $i == 0 {
				@if unit(nth($element-size, 1)) == "" {
					@include rem(font-size, nth($element-size, 1) * nth(nth($body-font-size, $i+1),1));
				} @else if unit(nth($element-size, 1)) == "px" {
					@include rem(font-size, nth($element-size, 1));
				}
				@if length($element-size) == 2 {
					line-height: nth($element-size, 2);
				}
			} @else {
				@include media(nth($larger-layouts-name, $i)) {
					@if unit(nth($element-size, 1)) == "" {
						@include rem(font-size, nth($element-size, 1) * nth(nth($body-font-size, $i+1),1));
					} @else if unit(nth($element-size, 1)) == "px" {
						@include rem(font-size, nth($element-size, 1));
					}
				}
			}
		} @else if $i == 0 { // manual
				@if unit(nth(nth($element-size, $i+1),1)) == "" { //semi-auto
					@include rem(font-size, nth(nth($element-size, $i+1),1) * nth(nth($body-font-size, $i+1),1));
				} @else if unit(nth(nth($element-size, $i+1),1)) == "px" { // manual
					@include rem(font-size, nth(nth($element-size, $i+1),1));
				}
				@if length(nth($element-size, $i+1)) == 2 {
					line-height: nth(nth($element-size, $i+1),2);
				}
		} @else {
			@include media(nth($larger-layouts-name, $i)) {
				@if unit(nth(nth($element-size, $i+1),1)) == "" {
					@include rem(font-size, nth(nth($element-size, $i+1),1) * nth(nth($body-font-size, $i+1),1));
				} @else if unit(nth(nth($element-size, $i+1),1)) == "px" {
					@include rem(font-size, nth(nth($element-size, $i+1),1));
				}
				@if length(nth($element-size, $i+1)) == 2 {
					line-height: nth(nth($element-size, $i+1),2);
				}
			}
		}
	}
}

// ===============================================================
// ========================== variables ==========================
// ===============================================================

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Georgia", "Lucida Bright", Times, TimesNewRoman, "Times New Roman", serif;
$mono-font: "Andale Mono", AndaleMono, Consolas, "Courier New", Courier, monospace;

// main font size
// for the different layout (ascending order)
//							main 					s 						m 						l
$body-font-size: 			12px, 					15px, 					18px, 					20px;
$h1-size: 					10/3;
$h2-size: 					8.5/3;
$h3-size: 					7/3;
$h4-size: 					6/3;
$h5-size: 					5/3;
$h6-size: 					4/3;


// main font style
$body-font-weight: 300;
$p-line-height: 1.6;

%headings-style {
	font-weight: 400;
	color: $darkest-color;
	margin: 0;
	line-height: 1.1;
}
%h1-style {
}
%h2-style {
}
%h3-style {
}
%h4-style {
}
%h5-style {
}
%h6-style {
}

%link-style {
	text-decoration: none;
	color: $primary-color;
	&:hover {
		color: luminus($primary-color, 15%);
	}
}

// article font style
$first-element-margin-top: 0;

%article-headings-style {
	font-weight: 400;
	margin-top: .7em;
	margin-bottom: .5em;
}
%article-h1-style {
}
%article-h2-style {
}
%article-h3-style {
}
%article-h4-style {
}
%article-h5-style {
}
%article-h6-style {
}

%article-link-style {
	text-decoration: underline;
}



// ===============================================================
// ========================= type system =========================
// ===============================================================

body {
	@include responsive-font-size($body-font-size);
	font-family: $primary-font;
	font-weight: $body-font-weight;
}

#{$p} {
	line-height: $p-line-height;
}

#{$h1} {
	@include responsive-font-size($h1-size);
	@extend %headings-style !optional;
	@extend %h1-style !optional;
}

#{$h2} {
	@include responsive-font-size($h2-size);
	@extend %headings-style !optional;
	@extend %h2-style !optional
}

#{$h3} {
	@include responsive-font-size($h3-size);
	@extend %headings-style !optional;
	@extend %h3-style !optional;
}

#{$h4} {
	@include responsive-font-size($h4-size);
	@extend %headings-style !optional;
	@extend %h4-style !optional;
}

#{$h5} {
	@include responsive-font-size($h5-size);
	@extend %headings-style !optional;
	@extend %h5-style !optional;
}

#{$h6} {
	@include responsive-font-size($h6-size);
	@extend %headings-style !optional;
	@extend %h6-style !optional;
}

#{$a} {
	@extend %link-style !optional;
}

#{$article} {
	:first-child {
		margin-top: $first-element-margin-top;
	}
	
	#{$article-p} {

	}
	
	#{$article-h1} {
		@extend %article-headings-style !optional;
		@extend %article-h1-style !optional;
	}

	#{$article-h2} {
		@extend %article-headings-style !optional;
		@extend %article-h2-style !optional;
	}

	#{$article-h3} {
		@extend %article-headings-style !optional;
		@extend %article-h3-style !optional;
	}

	#{$article-h4} {
		@extend %article-headings-style !optional;
		@extend %article-h4-style !optional;
	}

	#{$article-h5} {
		@extend %article-headings-style !optional;
		@extend %article-h5-style !optional;
	}

	#{$article-h6} {
		@extend %article-headings-style !optional;
		@extend %article-h6-style !optional;
	}
	
	#{$article-a} {
		@extend %article-link-style !optional;
	}
}
