// ===============================================================
// =========================== colors ============================
// ===============================================================

// basic colors
$darkest-color: #333;
$darker-color: lighten($darkest-color, 20%);
$dark-color: lighten($darker-color, 20%);

$lightest-color: #FFF;
$lighter-color: darken($lightest-color, 20%);
$light-color: darken($lighter-color, 20%);

// text colors
$primary-color: #4292aa;
$secondary-color: $darkest-color;
$inverse-color: $lightest-color;

// background colors
$primary-bg-color: $lightest-color;
$secondary-bg-color: $lighter-color;
$inverse-bg-color: luminus($primary-color, 20%);

// ===============================================================
// ========================= grid system =========================
// ===============================================================


// main layout
$columns-number: 12;
$column-gutter: 10px;
$container-max-width: none; //none if fluid
$container-min-width: 320px;
$container-align: center; // center, left or right

// layouts
$larger-layouts-name:					's',				'm',				'l'; // ascending order
$larger-layouts-media-queries:			500px,				800px,				1024px;
$larger-layouts-columns-number:			12,					12,					12;
$larger-layouts-column-gutter:			20px,				20px,				40px;
$larger-layouts-container-max-width:	480px,				768px,				960px; //none if fluid

// general
$media-queries-rules: 'only screen';
$elements-to-order: -3, 3; // order propriety for flex display