.o-button {
  appearance: none;
  display: inline-block;
  text-decoration: none;
  border: 2px solid $color-font;
  padding: 10px 30px;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 0;
}
