// ===============================================================
// ========================= grid system =========================
// ===============================================================

// only one value
$width: '.width';
$offset: '.offset';
$order: '.order';
$baseline-align: '.baseline-align';
$bottom-align: '.bottom-align';
$vertical-center-align: '.vertical-center-align';
$equal-height: '.equal-height';
$hidden: '.hidden';
$visible: '.visible';

// can put several values
$container: '.container';
$row: '.row';
$double-gutter: '.double-gutter';
$no-gutter: '.no-gutter';
$column: '.column';
$clearfix: '.clearfix';
$inline: '.inline';
$inline-block: '.inline-block';
$flex: '.flex';
$text-left: '.text-left';
$text-right: '.text-right';
$text-center: '.text-center';
$text-justify: '.text-justify';


// ===============================================================
// ============================= type ============================
// ===============================================================

$p: 'p';
$h1: 'h1, .h1';
$h2: 'h2, .h2';
$h3: 'h3, .h3';
$h4: 'h4, .h4';
$h5: 'h5, .h5';
$h6: 'h6, .h6';
$a: 'a';

$article: '.article';
$article-p: 'p';
$article-h1: 'h1';
$article-h2: 'h2';
$article-h3: 'h3';
$article-h4: 'h4';
$article-h5: 'h5';
$article-h6: 'h6';
$article-a: 'a';

// ===============================================================
// ========================== navigation =========================
// ===============================================================

$nav: '.nav';
$active: '.active';
$nav-primary: '.nav-primary';
$nav-secondary: '.nav-secondary';
$nav-horizontal: '.nav-horizontal';
$nav-vertical: '.nav-vertical';
$nav-equal-width: '.nav-equal-width';

// ===============================================================
// ============================ button ===========================
// ===============================================================

$button: '.button';
