$core-font-smoothing: true !default;

$core-font-family: $sans-serif !default;
$core-font-weight: $normal !default;
$core-font-color: #000 !default;

$core-headings-font-family: $sans-serif !default;
$core-headings-font-weight: $bold !default;

$core-code-font-family: $mono !default;
$core-code-font-weight: $normal !default;

$core-link-color: inherit !default;
$core-link-decoration: underline !default;

$core-background: #fff !default;
