//  ========================================================================  //
//  Grid System
//  ========================================================================  //
$layouts-name:                ('main',     's',        'm',        'l')         !default;
$layouts-break-point:         (0,          500px,      800px,      1000px)      !default;
$layouts-columns-number:      (12,         12,         12,         12)          !default;
$layouts-column-gutter:       (24px,       36px,       48px,       60px)        !default;
$layouts-container-max-width: (none,       none,       none,       1200px)      !default;

$container-min-width: 320px !default;
$container-marge-ratio: 0.5 !default;
$grid-items-clear: (2, 3, 4) !default;

//  ========================================================================  //
//  Spacing Units
//  ========================================================================  //

$horizontal-unit: lists-to-map($layouts-name, $layouts-column-gutter) !default;
$vertical-unit: $horizontal-unit !default;

$vertical-unit-variation: (0.25, 0.5, 1, 2, 4) !default;

//  ========================================================================  //
//  Flex Grid
//  ========================================================================  //

$flex-grid: true !default;

// flex options
$flex-grid-order: () !default;
$flex-grid-alignments: () !default;
$flex-grid-item-alignments: () !default;
