//  ========================================================================  //
//  Font Family
//  ========================================================================  //

$serif: serif !default;
$sans-serif: sans-serif !default;
$mono: monospace !default;

//  ========================================================================  //
//  Font Weight
//  ========================================================================  //

$light: 200 !default;
$normal: 400 !default;
$bold: 600 !default;

//  ========================================================================  //
//  Font variants
//  ========================================================================  //

$fonts: (
  'small': (
    'font-size': (
      'main': 16px
    ),
    'line-height': (
      'main': 1.5
    )
  ),
  'medium': (
    'font-size': (
      'main': 18px
    ),
    'line-height': (
      'main': 1.5
    )
  ),
  'large': (
    'font-size': (
      'main': 28px
    ),
    'line-height': (
      'main': 1.2
    )
  )
) !default;
