// ===============================================================
// =========================== options ===========================
// ===============================================================

// support
$moz22-27-support: true;
$ie8-9-support: true;
$ie8-support: true; // $ie8-9-support must be true too
$ie8-layout: "m"; //if ie8-support == true
$ie8-class-on-html-tag: "ie8"; //if ie8-support == true

// css options
$box-sizing-border-box-on-every-element: true;

// ===============================================================
// =========================== colors ============================
// ===============================================================

// basic colors
$darkest-color: #555;
$darker-color: #979797;
$dark-color: lighten($darker-color, 20%);

$lightest-color: #fff;
$lighter-color: #f6f6f6;
$light-color: #ddd;

// text colors
$primary-color: #31d0e0;
$secondary-color: $darkest-color;
$inverse-color: $lightest-color;

// background colors
$primary-bg-color: $lightest-color;
$secondary-bg-color: $lighter-color;
$inverse-bg-color: $primary-color;

// ===============================================================
// ========================= grid system =========================
// ===============================================================


// main layout
$container-min-width: 320px;
$container-align: center; // center, left or right

// layouts
$layouts-name:					'main',     's',		'm',        'l'; // ascending order
$layouts-media-queries:			none,       500px,		800px,      1000px;
$layouts-columns-number:		12,         12,			12,         12;
$layouts-column-gutter:			10px,       15px,		20px,       20px;
$layouts-container-max-width:	none,       none,		none,       1200px; //none if fluid

// general
$elements-to-order: -3, 3; // order propriety for flex display

// ===============================================================
// ========================== typography =========================
// ===============================================================

// font
$primary-font: Muli, sans-serif;
$secondary-font: Quicksand, sans-serif;
$mono-font: "Andale Mono", monospace;

//font weight
$light: 300;
$normal: 400;
$bold: 600;

// font size and line-height for the different layouts (ascending order)
//							main 			s 				m         l
$body-font-size: 			14px 1.5, 		16px, 			17px,     18px;
$h1-size: 					22px 1.1,		26px, 			30px,     36px;
$h2-size: 					16px 1.3, 		20px, 			24px,     26px;
$h3-size: 					14px 1.3, 		16px, 			18px,     20px;
$h4-size: 					12px 1.3, 		14px, 			16px,     18px;
$h5-size: 					11px 1.3, 		12px, 			14px,     16px;
$h6-size: 					10px 1.3, 		10px 1.3, 			12px 1.4,     14px;


// main font style
$body-color: $darker-color;

// paragraph style
$paragraph-margin: .8em 0;

// link style
$link-text-decoration: none;
$link-color: $primary-color;
$link-hover-color: luminus($primary-color, 15%);

// ===============================================================
// ========================= navigation ==========================
// ===============================================================

$nav-primary-font-size: 20px;
$nav-primary-item-line-height: 1.2;
$nav-primary-item-padding: 1.2;
@mixin nav-primary-item-style {
	font-family: $primary-font;
}
@mixin nav-primary-item-hover-style {	}
@mixin nav-primary-item-active-style {}

$nav-secondary-font-size: 20px;
$nav-secondary-item-line-height: 1.2;
$nav-secondary-item-padding: 1.2;
@mixin nav-secondary-item-style {}
@mixin nav-secondary-item-hover-style {	}
@mixin nav-secondary-item-active-style {}

// ===============================================================
// ============================ button ===========================
// ===============================================================

$button-padding: 12px 32px 13px;
$button-line-height: 1.2;
$button-font-size: 20px;
$button-border-radius: 0;
@mixin button-style {
	background: $inverse-bg-color;
	color: $inverse-color;
	text-align: center;
	text-decoration: none;
	&:hover {
		background: luminus($inverse-bg-color, 5%);
		color: $inverse-color;
	}
}

$button-sizes: (
	big: (
		padding: 17px 42px 18px,
		font-size: 25px
	),
	small: (
		padding: 7px 22px 8px,
		font-size: 15px
	)
);

$button-variants: (
	alert: (
		background: red,
	),
	'alert:hover': (
		background: luminus(red, 15%)
	),
	success: (
		background: green,
	),
	'success:hover': (
		background: luminus(green, 15%)
	)
);
