//  ========================================================================  //
//  Font Family
//  ========================================================================  //

$serif: serif;
$sans-serif: 'Source Sans Pro', sans-serif;

//  ========================================================================  //
//  Font Weight
//  ========================================================================  //

$light: 400;
$normal: 600;
$bold: 900;

//  ========================================================================  //
//  Font variants
//  ========================================================================  //

$fonts: (
  'small': (
    'font-size': (
      'main': 16px
    ),
    'line-height': (
      'main': 1.5
    )
  ),
  'medium': (
    'font-size': (
      'main': 18px
    ),
    'line-height': (
      'main': 1.5
    )
  ),
  'large': (
    'font-size': (
      'main': 28px
    ),
    'line-height': (
      'main': 1.2
    )
  )
);
