$button: '.button';
$big-button: '.big-button';

/* ----- Button ----- */

// Mixins



// Variables

$button-padding: 12px 32px 13px;
$button-line-height: 1.2;
$button-font-size: 20px;
$button-border-radius: 0;
@mixin button-style {
	background: $inverse-bg-color;
	color: $inverse-color;
	text-align: center;
	text-decoration: none;
}

$button-sizes: (
	big: (
		padding: 20px,
		font-size: 20px
	),
	small: (
		padding: 10px,
		font-size: 14px
	)
);

$button-variants: (
	alert: (
		background: red,
		font-size: 20px
	),
	success: (
		background: blue,
		font-size: 14px
	)
);

// big buttons

$big-button-padding: increase($button-padding, 5px);
$big-button-line-height: $button-line-height;
$big-button-font-size: $button-font-size + 5px;
$big-button-border-radius: 0;

// Dev

#{$button} {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: $button-line-height;
	@include rem(font-size, $button-font-size);
	@include button-style;
	padding: $button-padding;
	
	@if $button-border-radius != 0 {
		border-radius: $button-border-radius;
	}
	
	#{$big-button} {
		padding: $big-button-padding;
	}
}

@each $size-name, $properties in $button-sizes {
  #{$button}-#{$size-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}

@each $variant-name, $properties in $button-variants {
  #{$button}-#{$variant-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}