// Dev

#{$button} {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: $button-line-height;
	@include rem(font-size, $button-font-size);
	@include button-style;
	padding: $button-padding;
	
	@if $button-border-radius != 0 {
		border-radius: $button-border-radius;
	}
}

@each $size-name, $properties in $button-sizes {
  #{$button}-#{$size-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}

@each $variant-name, $properties in $button-variants {
  #{$button}-#{$variant-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}