// ===============================================================
// ========================= type system =========================
// ===============================================================

body {
	@include responsive-font-size($body-font-size);
	font-family: $primary-font;
	font-weight: $normal;
	color: $body-color;
    -webkit-font-smoothing: antialiased;
}

p {
    margin: $paragraph-margin;
}

b,
strong {
  font-weight: $bold;
}

h1 {
	@include responsive-font-size($h1-size);
}

h2 {
	@include responsive-font-size($h2-size);
}

h3 {
	@include responsive-font-size($h3-size);
}

h4 {
	@include responsive-font-size($h4-size);
}

h5 {
	@include responsive-font-size($h5-size);
}

h6 {
	@include responsive-font-size($h6-size);
}

a {
    text-decoration: $link-text-decoration;
    color: $link-color;
    
    &:hover {
        color: $link-hover-color;
    }
}

.title {
    margin: 0;
    font-weight: normal;
}