// Dev



.button {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: $button-line-height;
	@include rem(font-size, $button-font-size);
	@include button-style;
	padding: $button-padding;
    -webkit-font-smoothing: antialiased;
	
	@if $button-border-radius != 0 {
		border-radius: $button-border-radius;
	}
}

@each $size-name, $properties in $button-sizes {
  .button--#{$size-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}

@each $variant-name, $properties in $button-variants {
  .button--#{$variant-name} {
    @each $property, $value in $properties {
		#{$property}: $value;
	}
  }
}

$button-font-family: $primary-font;
$button-font-weight: $normal;
$button-border-style: none;


$button-sizes: (
  button: (
    font-size: 12px,
    line-height: 1,
    padding: 10px,
    border-width: 1px,
    border-radius: 0
  ),
  button-small: (
    font-size: 12px,
    line-height: 1,
    padding: 10px,
    border-width: 1px,
    border-radius: 0
  ),
  button-big: (
    font-size: 12px,
    line-height: 1,
    padding: 10px,
    border-width: 1px,
    border-radius: 0
  )
);

$button-styles: (
  button: (
    color: $secondary-color,
    background: $primary-color,
    border-color: transparent,
    box-shadow: none,
    text-shadow: none
  ),
  button-primary: (
    color: $secondary-color,
    background: $primary-color,
    border-color: transparent,
    box-shadow: none,
    text-shadow: none
  )
);

@mixin button-style($button-name, $color, $background, $border-color) {
  #{$button-name} {
    color: $color;
    background: $background;
    border-color: $border-color;
  }
}

@include button-style(button-blue, blue, blue, blue);
